/*
*
* {{#if (isLazy type)}}`{{ properCase name }}`{{else}}Package{{/if}}: `{{{ PROJECT_NAME_SPACE }}}/{{ properName }}`.
*
*/
import { memo } from 'react';

// Remove `memo` if your component uses `children`.
// @see {@link https://reactjs.org/docs/react-api.html#reactmemo}.
const {{ properCase name }} = () => {
  return (
    <div>
      {{ properCase name }}
    </div>
  );
};

export default memo({{ properCase name }});